<div class="container">
  <main>
    <h1><%= @user.name %></h1>

    <a href="<%= new_project_path %>"><div class="button"><p>CREATE NEW PROJECT</p></div></a>

    <a href="<%= new_assignment_path %>"><div class="button"><p>ASSIGN PROJECT</p></div></a>

    <h2><%= @user.instructor_cohort.name if @user.instructor_cohort %></h2>

    <h3>Assigned Projects</h3>

    <table>
      <th>
        <td>Name</td>
      </th>
      <% if @user.instructor_cohort %>
        <% @user.instructor_projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </main>
</div>
