<!DOCTYPE html>
<html>
  <head>
    <title>Reflection</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to "Log Out", logout_path %>
    </nav>
    <%= yield %>
  </body>
</html>
